{
  "ldap": {
    "host": "",
    "username": "",
    "password": "",
	"port": "389"
  },
  "ad": {
    "domain": "",
	"searchbase": ""
  },
  "tableau": {
    "url": "",
    "version": 10,
    "username": "",
    "password": ""
  },
  "sites": [
    {
      "name": "Default",
      "group_mapping": [
        {
          "ldap": "",
          "tableau": "",
		  "rolemapping": "Interactor",
		  "defaultuser": "admin"
        }
      ]
    }
  ]
}